<%= render 'shared/banner' %>

<div class="menu-all">
  <div class="menu-content">
    <div class="menu-title">
      <h1><%= @menu.name  %></h1>
    </div>
    <% @menu.menu_dishes.each do |dish| %>
    <div class="menu-dishes">
      <p><%= dish.dish.name %></p>
    </div>
    <% end %>
    <div class="menu-drinks">
      <p> Água | Chá | Café </p>
      <% if @menu.name == "Cocktail" %>
      <p> 1 bebida alcoólica por pessoa</p>
      <p> vinho > branco / tinto</p>
      <% end %>
    </div>
    <div class="contact-us">
    <a href="/contacts/new" class="btn" data-wipe="Consulte-nos">Consulte-nos</a>
  </div>
  </div>
  <div class="menu-photo">
    <%= image_tag("/assets/cocktail.jpg", alt: "logo") %>
  </div>

</div>


