.about-container{
  // background-image: image-url('/assets/Desktop.png');
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index:0;
  background-size: cover;

  display: flex;
  justify-content: space-around;
  font-variant: all-petite-caps;
  position: relative;
    top: 20vh;
    height: 80vh;
    width: 100%;
    /* width: 90%; */
    // background-color: #E8E1E1;
    /* margin: 2%; */
}
.about-title{
    text-align: right;
    position: absolute;
    right: 0vw;
    margin-right: 4%;
    top: 5vh;
}

.about-body{
  text-align: justify;
    position: absolute;
    left: 0;
    margin-left: 4%;
    top: 10vh;
    font-variant: none;
    font-weight: 300;
    width: 50%;

}

@media (max-width: 1024px) and (orientation:portrait) {

 .about-container{
  // background-image: image-url('/assets/back_mobile.png');
  }
  .about-title{
    top: 12vh;
    p{
      margin-bottom: 5px;
    }
  }
  .about-body{
    width: 90%;
    top: 25vh;
  }
}

@media (max-width: 1024px) and (orientation:landscape) {
  .about-body{
    top: 17vh;
    width: 85%;
  }
  .about-title{
    p{
      margin: 0 0 6.5px;
    }
  }
}
@media (width: 1280px) and (height: 800px) and (orientation:landscape) {
  .about-body{
      top: 15vh;
      width: 60%;
  }
}

// @media only screen
//   and (min-device-width: 375px)
//   and (max-device-height: 812px)
//   and (-webkit-device-pixel-ratio: 3)
//   and (orientation : landscape)
//   {
//     .about-body{
//       width: 65%;
//           left: 30px;
//   }
//   }

  @media only screen
    and (min-device-width: 375px)
    and (max-device-height: 667px)
    and (-webkit-device-pixel-ratio: 2)
    and (orientation : landscape)
    {
      .about-body{
        width: 65%;
    }
    }

/* iphone 5 */
@media only screen
  and (min-device-width: 320px)
  and (max-device-height: 568px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation : landscape)
  {
  .about-body{
        width: 85%;
    }
  }



@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1.5) {
.about-body{
    top: 15vh;
    width: 55%;
}
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .about-body{
        width: 65%;
    }}
