  // Import page-specific CSS files here.
@import "home";
@import "show";
@import "new";
@import "contact";
@import "galery";

body{
  font-variant: all-petite-caps;

}

li {
  list-style-type: none;
}

.index-all{
  font-variant: all-petite-caps;
  position: absolute;
  top: 20vh;
  width: 100%;
  height: 80vh;
  margin-bottom: 1%;
  display: flex;
}

.index-box{
  width: 85%;
  overflow-x: scroll;
}

.index-scroll{
  display: flex;
  width: 300%;
  overflow: hidden;
  z-index: 100;
  height: 150%;
}

.index-menu-content{
  display: flex;
  margin: 1%;
  margin-left: 0.5%;
  margin-bottom: 0%;
  margin-top: 1%;
  //acrescentei para background foto
  position: relative;
}

.index-menu-content{
  font-size: 0.8em;
      height: 80vh;
}


.index-menu-content:first-child{
  margin-left: 1%;

}
.index-menu{
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  width: 25vw;
//acrescentei para backgorund
// position: absolute;
//     top: 2%;
//     left: 2%;

}
.index-menu-dishes{
  p{
    // font-weight:bold;
    letter-spacing: 0.1em;
    font-size: 0.8em;
  }
}
.index-menu-photo{

  img{
    // height: 90vh;
    // width: 8vw;
    // display:none;
  }
}
.index-menu-title h1{
  font-size: 1.5em;
  line-height: 50%;
  margin-top: 0;
  margin-bottom: 5%;

}

.index-opacity{
// background-image: url(brunch.jpg);
  // background-size:cover;
  // opacity: .4;
  // width: 70vw;
}

// .index-contact-us{
//     margin:auto;

// }

.index-box::-webkit-scrollbar {
    height: 7px;
    width: 7px;
}

.index-box::-webkit-scrollbar-track {

    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.index-box::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.index-content{
  position: absolute;
  top:20vh;
  height:80vh;
  display: flex;
  width: 100vw;
  justify-content: space-between;

}
#myModal2.modal{
  display: flex;
  top: 20vh;
  width:80vw;
  z-index:1;

}
#myContent{
  background-color: white;
  border:none;
  margin:0;
  width: 80vw;
  .prev, .next{
    color:black;
        margin-top: -3%;
  }
}
.index-menu-flex{
  display:flex !important;
      justify-content: center;
    margin-top: 4%;
    width: 70vw;
  .index-menu-photo{
    img{
      height: 70vh;
    }
  }

  .index-menu{
        width: 60vw;
  }
  .index-menu-title{
    h1{
      margin-bottom: 4%;
    }
  }
  .index-menu-dishes-both{
    display:flex;
        width: 60vw;
  }
  .index-menu-dishes{
    width: 30vw;
  }
  :first-child{
    margin-right: 1%;
  }
}
.index-contact-us{
  position: absolute;
  top:0;
  right:0;
  height:80vh;
  width: 20vw;
  text-align: center;
  display: flex;
align-items: center;
    justify-content: center;
    background-color: white;
    a{
      background-color: white;
    }
}

.index-menu-dishes-mobile{
  display: none;
}

@media (max-width: 600px) {
    body{
    font-size: 10px;
    }
  .index-content{
    top:35vh;
        height: 65vh;

  }
  #myModal2.modal{
  z-index: 1000;
  top:35vh;
  height: 50vh;
    width: 100%;
    overflow-y: initial !important;
  }
  #myContent{
      width: 100%;
              box-shadow: none;
  .prev, .next{
    position:fixed;
    top: 60vh;
  }
  }
  .index-menu-dishes{
  display:none !important;
  height:0;
  }
  .index-menu-dishes-mobile{
  display:block;
  }
  .index-menu-flex{
    height: auto;
    margin-top: 0%;
    .index-menu-photo{
      position: fixed;
      left: 10%;
      img{
        height: 50vh;
      }
    }
      .index-menu-title{
          position: fixed;
    left: 35% !important;
    width: 60vw;
    background-color:white;
    z-index:1000;
    }

    .index-menu-dishes-both{
    position: absolute;
    left: 35%;
    top: 10%;
    overflow-y: auto;
    }
    .index-menu-dishes-mobile{
    overflow-y: auto;
    width: 50vw;
    }
  }
  .index-contact-us{
    bottom: 3vh;
    right:auto;
    top:auto;
    height:auto;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 2000;
    a{
      font-size: 1.2em;
    }
  }
}
//   .index-all{
//         height: 70vh;
//         flex-direction:column;
//         top:30vh;
//         margin-left: 2%;
//         margin-top: 5%;
//         align-items:center;
//   }
//   .index-scroll{
//     width: 700%;
//   }
//   .index-menu{
//     width: 60vw;
//     font-size: 1.2em;
//   }
//   .index-box{
//     width:80%;
//     height: 50vh;
//   }
//   .index-menu-content:first-child {
//     margin-left: 0%;
// }
// .index-menu-photo{
//   img{
//     width: 20vw;
//     height:auto;
//   }
// }
// .index-contact-us a{
//   font-size: 1.2em;
// }
//   [data-wipe] {
//     margin-top: 5%;
//   }


@media (min-width: 601px) and (max-width: 768px) {
 body{
    font-size: 18px;
  }
  .index-all{
  flex-direction: column;
  margin-bottom:0;
  }
  .index-box{
    margin:5%;
  }
  .index-scroll{
    width: 500%;
  }
  .index-menu-photo{
  img{
    width: auto;
    height:60vh;
  }
}
  .index-menu{
        width: 60vw;
  }

  .index-menu-content:first-child{
  margin-left: 0%;

}

}
