.menu-all{
  position: absolute;
  padding: 2% 12% 2% 12%;
  display:flex;
  background-color: white;
  justify-content: center;
    top:25vh;
    width: 100%;
    height: 70vh;
    padding: 0;
    z-index: 1;
}

.menu-opacity-mobile{
  display: block;
    position: absolute;
    top: 0vh;
    width: 60%;
    height: 70vh;
    // background-image: url(va_table.jpg);
    background-size: cover;
      background-position: center;
    opacity: .4;
    z-index: -1;
}

.menu-content {
  font-variant: all-petite-caps;
  width:40%;
  position: relative;
  height:70vh;
  letter-spacing: 0.1em;
  h1{
    font-size: 2em;
  }
  p{
    font-size: 1em;
    // font-weight: bold;
  }
}

.menu-title{
  margin-bottom: 5%;
  h1{
    margin-top: 10%;
    margin-bottom: 10%;
    line-height: 50%;
  }
}
.contact-us{
  text-align: left;
  position: absolute;
  bottom: 5%;
  right:0;

  .btn{
     background-color:white;
    font-size: 0.8em;
  }
}
.menu-photo {
  display:none;
  img{
    max-height: 70vh;
  }
}

$duration: .20;
$easing: ease-in-out;
* {
  box-sizing: border-box;
}

[data-wipe] {
  display: inline-block;
  padding: 0.82em 1.2em;
  text-decoration: none;
  position: relative;
  border: 0.15em solid #000000;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: left;
  color: #000000;
  overflow: hidden;

  &:hover {
    color: #F1F1F2;
    background: #000000;
  }
}
@media (max-width: 600px) and (orientation:portrait){
  body{
    font-size: 10px;
  }
}

@media (max-width: 1024px) and (orientation:portrait){

  .show-view{
    .menu-small-right{
      display:none;
    }
  }
  .menu-photo {
    display:none;
  }
  .menu-all{
     justify-content: center;
    top:33vh;
    width: 100%;
    height: 67vh;
    padding: 0;
    z-index: 100;
  // background-image: image-url('/assets/va_table.jpg');
  // background-color:rgba(255,0,0,0.5);
}
.menu-opacity-mobile{
  display:block;
  position: absolute;
  top:0vh;
  width: 100%;
  height: 55vh;
  background-image: url(va_table.jpg);
  background-size:cover;
  opacity: .4;
  z-index:-1;
}
.menu-title{
  margin-bottom: 10%;
  margin-top: 5%;
}
.menu-dishes{
  font-size: 1.2em;
}
.menu-drinks{
  font-size: 1.2em;
}
.contact-us {
  text-align: right;
  position: absolute;
  width: 100%;
  bottom:10%;
}
.contact-us .btn {
    font-size: 1.2em;
    background-color: #FDFFFF;
    // font-weight: bold;

}
.menu-content {
  width: 100%;
  height: 55vh ;
  font-weight: bold;
  margin:5%;
  // color: white; - para *
}
[data-wipe] {
  // padding: 6px 9px;
}
}

@media (min-width: 601px) and (max-width: 768px) and (orientation:portrait){
 body{
    font-size: 14px;
  }
}
  @media (min-width: 769px) and (max-width: 1024px) and (orientation:portrait){
      body{
      font-size: 22px;
    }
  }

@media (max-width: 600px) and (orientation:landscape){
body{
    font-size:10px;
  }
  p {margin: 0 0 5px;}
}

@media (min-width: 601px) and (max-width: 812px) and (orientation:landscape){
body{
    font-size:10px;
  }
    // p {margin: 0 0 5px;}
}
// @media (min-width: 813px) and (max-width: 1366px) and (orientation:landscape){
// body{
//     font-size:22px;
//   }
// }

// @media (min-width: 1367px) and (orientation:landscape){
// body{
//     font-size:26px;
//   }
// }


@media (orientation:landscape){


  .menu-content {
    width: 50%;
     p {

    font-weight:bold
}
  }
}

