<div class="banner-small">
  <a href="/" ><%= image_tag("/assets/LOGO_nu.png", alt: "logo") %></a>
</div>

<div class="menu-small">
  <div class = "menu-small-left">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Catering</a>
      <div class="dropdown-content">
        <div class="dropdown-submenu">
          <a tabindex="-1" href="#">VA por nós</a>
          <ul class="dropdown-menu">
            <% @menus.each do |menu| %>
            <li><%= link_to menu.name, menu_path(menu.id) %></li>
            <% end %>
                </ul>
                <ul class="dropdown-menu-mobile">
            <% @menus.each do |menu| %>
            <li><%= link_to menu.name, menu_path(menu.id) %></li>
            <% end %>
                </ul>
        </div>
          <%= link_to "VA à descoberta", dishes_index_path %>
      </div>
    </li>
      <a href="/galery">GALERIA</a>
      <a href="/about">FILOSOFIA</a>
      <a href="/contacts/contact">CONTACTOS</a>
  </div>
      <div class = "menu-small-right">
        <a href="https://www.facebook.com/Vara-de-Arames-283953025465518/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/varadearames"><i class="fab fa-instagram"></i></a>
        <a href="mailto:varadearames@gmail.com"><i class="fas fa-envelope"></i></a>
      </div>
</div>
