<div class="banner">
  <a href="/" ><%= image_tag("/assets/LOGO_nu.png", alt: "logo") %></a>
</div>

<div class="menu">
  <div class = "menu-left">
<!--     <ul> -->
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Catering</a>
      <div class="dropdown-content">

          <%= link_to "VA à descoberta", dishes_index_path %>
      </div>
    </li>
      <a href="/galery">Galeria</a>
      <a href="/about">Filosofia</a>
      <a href="/contacts/contact">Contactos</a>
<!--       </ul> -->
  </div>
      <div class = "menu-right">
        <a href="https://www.facebook.com/Vara-de-Arames-283953025465518/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/varadearames"><i class="fab fa-instagram"></i></a>
        <a href="mailto:varadearames@gmail.com"><i class="fas fa-envelope"></i></a>
      </div>
</div>


