
<%= render 'shared/banner_small' %>
<div class="about-container">
  <div class="about-title">
    <p>“Não existe amor mais sincero do que aquele pela comida”</p>
    <p>George Bernard Shaw</p>
  </div>
  <div class="about-body">
    <p>Cozinhar enquanto prazer faz-nos querer criar a toda a hora.</p>
    <p>Faz-nos querer desafiar os palatos, congregar os amigos, unir os que partilham os espaços, contribuir para os grandes momentos e juntar à mesa a avidez do que é saboroso, belo ou surpreendente.</p>
    <p>Cozinhar enquanto prazer faz-nos querer criar a toda a hora.</p>
    <p>Mas criar de forma diferente, plástica na expressão mas sem plásticos na mão. Bela na fotografia mas a procurar ser sempre apelidada de iguaria. A querer surpreender sem pretensão para além de um sorriso de copo na mão.</p>
    <p>Cozinhar enquanto prazer faz-nos querer criar a toda a hora.</p>
    <p>E, esperamos, alguma destas horas possa a Vara de Arames poder, com toda a sinceridade e amor que tem pela comida, entrar um pouco na sua vida. Porque ela é demasiado curta para que não se comam saborosas, belas e surpreendentes refeições.</p>
  </div>
</div>
