
<%= render 'shared/banner_small' %>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
        <div class="card card1"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card2"> </div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card3"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card4"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card5"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card6"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card7"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card8"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card9"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card10"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card11"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card12"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card13"></div>
    </div>
  <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card14"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card15"></div>
    </div>
    <div class="col-xs-6 col-sm-4">
      <!-- insert <div class="card"> -->
          <div class="card card16"></div>
    </div>
  </div>
</div>
