
<%= render 'shared/banner' %>
<div class="background-image">
  <div class="home-contact-us">
        <a href="/contacts/new" class="btn" data-wipe="Consulte-nos">Consulte-nos</a>
      </div>
</div>
