<div class ="contact-view">
<%= render 'shared/banner_small' %>
  <div class="contact-container">
    <div class="contact-form">
      <h1>Contacte-nos</h1>
      <%= render 'form3' %>
      <div class="contact-data">
        <div class="contact-email">
          <p>E-mail: varadearames@gmail.com </p>
        </div>
        <div class = "contact-web">
          <a href="https://www.facebook.com/Vara-de-Arames-283953025465518/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://www.instagram.com/varadearames"><i class="fab fa-instagram"></i></a>
          <a href="mailto:varadearames@gmail.com"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>
    <div class="contact-photo">
    </div>
  </div>
</div>
