<%= render 'shared/banner_small' %>
<div class="background-image">
<div class = "form-container">
  <div class = "form-scroll">
<%= render 'form' %>
<% if params[:action] == "precreate" %>
<%= render 'form2' %>
<% end %>
</div>
</div>
</div>
