<div class ="new-view">
<%= render 'shared/banner_small' %>

  <div class = "form-container" style="background-color: #e8e1e1;">
    <div class = "form-scroll">
      <%= render 'form' %>
      <% if params[:action] == "precreate" && params[:contact][:menu_id]!= "" && @error_message.nil? %>
      <%= render 'form2' %>
      <% end %>
    </div>
  </div>
</div>

