<%= render 'shared/banner_small' %>
<div class = "form-container">
<%= render 'form' %>
<% if params[:action] == "precreate" %>
<%= render 'form2' %>
<% end %>
</div>

<!--

<script type="text/javascript">
  var select = document.getElementById('contact_menu_id');
  var details_div = document.getElementById('details');
  select.onchange = function() {
    console.log("Test");
     if(this.value != "") {
       details_div.style['display'] = 'block';
     } else {
       details_div.style['display'] = 'none';
     }
  };
</script> -->
