.banner{
  width: 100%;
    display: flex;
    justify-content: flex-end;
  opacity: 0%;
  position: absolute;
  right:2%;
  top:0%;
  z-index:100;
  img{
    display:inline-block;
    height: 30vh !important;
    margin: 0 auto;
  }
}

li a:active{
          top:1px;
        }

.menu {
  display: flex;
  justify-content: space-between;
  height:5vh;
  width:100%;
  padding: 0 2%;
    // border-bottom:1px solid #DEDCDC;
    position: absolute;
    top:25vh;
    z-index: 100;
    a{
      color: black;
      font-size: 0.9em;
      text-decoration: none;
      font-variant: none;
      letter-spacing: 0.1em;
    }
    li a {
      font-variant: none;
    }
  a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}
  }

  .menu-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    a{
      padding: 0 5%;
      font-weight: 300;
    }
//     >a:focus {
//   font-size: 1.4em;
// }
  }

  .menu-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    flex-direction: column;
    height: 73vh;
    a {
      // padding: 15% 15%;
      line-height: 180%;
      font-size: 0.8em;
    }

  }
.dropdown {
    position: relative;
    width: auto;
    a{
      font-variant: all-petite-caps;
    }
  .dropdown-toggle{
    padding: 0;
    cursor: default;
  }
  padding: 0 3%;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }


  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 0.8em;
    padding: 8%;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #F5F5F5;
  }

  //  .dropdown:focus .dropdown-content{
  //   display: block;
  // }

  //  .dropdown .dropbtn .static:hover .dropdown-content{
  //   display:none;
  // }

  .dropdown-submenu {

    position: relative;
    >a{
    cursor: default;
  }
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }
  .dropdown-submenu>a:focus>.dropdown-menu {
    display: block;
  }

  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  .dropdown-menu{

    border: none;
    border-radius: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin:0;
    >li > a{
     font-weight: 300;
    }
  }

  @media (max-width: 600px) and (orientation:portrait){
    body{
      font-size: 10px;
    }
    .banner{
      width: 100%;
      right: 0%;
      text-align: center;
      justify-content: center;
      img{
        height: 25vh !important;
        margin: 5% auto;
      }
    }
    .menu {
      top:30vh;
      justify-content: center;
      display:block;
      // text-align:center;
      a{
        font-size: 1.2em;
        padding: 0 3%;
      }
    }
  .dropdown-content {
    min-width: 150px;
    font-size:1.2em;
    a{
      padding:5%  !important;
    }
    .dropdown-submenu{
      a{
        padding:5%;
      }
      .dropdown-menu-mobile{
        margin-bottom: 0;
      }
    }
  }
.dropdown-submenu>a:focus {
  background-color: white !important;
}
    .menu-left{
      height: 5vh;
      width: auto;
    position:relative;
    justify-content: space-evenly;
    }
    .menu-right{
      position: absolute;
      right:2%;
    height: 65vh;
      a {
        line-height: 220%;
      }
    }
    .dropbtn {
      font-size: 1em !important;
    }

  }
@media (min-width: 601px) and (max-width: 1024px) and (orientation:portrait){

  .banner{
      width: 100%;
      right: 0%;
      text-align: center;
            justify-content: center;s
      img{
        height: 25vh !important;
        margin: 5% auto;
      }
    }
.menu {
        top:32vh;
         justify-content: center;
      display:block;
      a{
        // font-size: 1em;

      }
    }
    .menu-left{
      height: 5vh;
      width: auto;
    position:relative;
    justify-content: space-evenly;
    a {
    padding: 0 3%;
    }
  }
    .menu-right{
      position: absolute;
      right:2%;
    height: 63vh;
      a {
        line-height: 220%;
        font-size:1em;
      }
    }
    .dropbtn {
      font-size: 1em !important;
    }
    @media (min-width: 769px) and (max-width: 1024px) and (orientation:portrait){
      body{
      font-size: 22px;
    }
    }
}
