.banner-small{
  width: 100%;
    display: flex;
    justify-content: flex-end;
  background-color:white;
  opacity: 0%;
  position: fixed;
  right:2%;
  top:0%;
  z-index:100;
  img{
    display:inline-block;
    height: 20vh ;
    margin: 0 auto;
  }
}

.menu-small {
  display: flex;
  justify-content: space-between;
  height:5vh;
  width:100%;
  padding: 0 2%;
  border-bottom:1px solid #DEDCDC;
  position: fixed;
  top:15vh;
  z-index: 150;
  letter-spacing: 0.1em;
  a{
   color: black;
   font-size: 1.2em;
   text-decoration: none;
   letter-spacing: 0.1em;
        padding: 0 3%;
 }

 a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none
}
}

.menu-small-left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  align-items: flex-end;
  a{
    font-weight: 300;
  }
}

.menu-small-right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
  flex-direction: column;
  height: 83vh;
  a {
    // padding: 0 1%;
    font-size: 0.8em;
    line-height: 180%;
  }
}

.dropbtn {
  background-color: Transparent;
  color: black;
  padding: 0;
  font-size: 0.8em;
  border: none;
  letter-spacing: 0.1em;
  line-height: 0.8em;
}

.dropdown {
  position: relative;
  display: inline-block;
    a{
      font-variant: all-petite-caps;
    }
    .dropdown-toggle{
      padding: 0;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    // font-size: 0.8em;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: 1em;
    padding: 8%;
    display: block;
    // font-size: 0.8em;
  }
  .dropdown-content a:hover {
    background-color: #F5F5F5;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }


  .dropdown-submenu {
    position: relative;
    // a{
    //   font-size: 0.6em;
    // }

  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
  }


  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  .dropdown-menu{
    border: none;
    border-radius: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .dropdown-menu-mobile{
    display:none;
  }

@media (max-width: 600px) and (orientation:portrait){
  body{
    font-size: 10px;
  }
  .dropdown-content{
    min-width: 200px;

    a {
      font-size:1em;

    }
    }
  }

@media (min-width: 601px) and (max-width: 768px) and (orientation:portrait){
 body{
    font-size: 14px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) and (orientation:portrait){
      body{
      font-size: 22px;
    }
    .dropdown-content{
    min-width: 200px;
    a {
      font-size:1.2em;

    }
  }
  .dropdown-content {
    min-width: 300px;
  }
}

  @media (max-width: 1024px) and (orientation:portrait){

    .banner-small{
      width: 100%;
      right: 0%;
      text-align: center;
      justify-content: center;
      img{
        height: 20vh !important;
        margin: 5% auto;
      }
    }
    .menu-small {
      top:22vh;
      border-bottom:none;
      background-color: white;
      justify-content: center;
      display:block;
      a{
        // font-size: 1em;
      }
    }
    .dropdown-content a{
      font-size:1.2em;
    }
    .menu-small-left{
      justify-content: space-evenly;
      // font-size: 1.2em;
      height: 5vh;
      width: auto;
      position:relative;

    }
    .menu-small-right{
            position: absolute;
      right:2%;
    height: 73vh;
    font-size: 1.2em;
      a {
        line-height: 220%;
      }
    }
    .dropbtn {
      font-size: 1em !important;
    }
    .dropdown-menu{
      display:none;
    }
    .dropdown-menu-mobile{
      display:block;
    }
    .dropdown-submenu:hover > .dropdown-menu {
      display: none;
    }
    .dropdown-submenu a:focus{
      background-color: #F5F5F5
    }

     .dropdown-submenu>a{
    cursor: default;
  }
}
  @media (min-width: 769px) and (max-width: 1024px) and (orientation:portrait){
      body{
      font-size: 22px;
    }
  }

@media (max-width: 1000px) and (orientation:landscape){
.dropdown-menu{
      display:none;
    }
    .dropdown-menu-mobile{
      display:block;
    }
    .dropdown-submenu:hover > .dropdown-menu {
      display: none;
    }
    .dropdown-submenu a:focus{
      background-color: #F5F5F5
    }
    .dropdown-submenu a{
      padding:2%;
    }
    .dropdown-content{
          min-width: 150px;
    a{
      padding: 4%;
      font-size:1.2em;
    }
  }
    .dropdown-menu-mobile{
      margin-bottom: 0;
    }

     .dropdown-submenu>a{
    cursor: default;
  }
  .menu-right a {
    font-size: 1em;
  }
}
